<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Szkoła App</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/app/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Kokpit</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/app/students">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Uczniowie</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/app/tasks">
      <i class="fas fa-fw fa-check-square"></i>
      <span>Zadania</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/app/messages">
      <i class="fas fa-fw fa-envelope"></i>
      <span>Wiadomości</span></a>
  </li>
</ul>
